body {
  font-family: "League Spartan", sans-serif;
}
.slick-dots li button:before {
  color: white !important;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  color: white !important;
}
